* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#nuage{
    width:100%;
    height: 10vh;
    background:rgb(192, 192, 192);
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.txtcenter {
    text-align: center;
}

.data {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

body {
    color: white;
}

.marg {
    margin: 10px;
}

.header {
    position: absolute;
    top: 10px;
    width: 100vw;
}

.soleilinfo {
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.soleil {
    min-width: auto;
    max-width: 1000px;
    width: 50%;
    overflow: hidden;
    height: 2rem;
    border-radius:1rem;
    background-color: rgba(255, 255, 255, 0.521);
}

.progress {
    height: 100%;
    width: 50%;
    background-color: rgb(219, 199, 13);

}